<ion-view view-title="Welcome Page" style="background-color: #8410a9">
  <ion-content>
    <ion-item class = "item-text-wrap text-center" style="background-color: #8410a9; border:none">
      <h1 style="color: #fff">Welcome to the UQ Art Museum Self-led Tour!</h1>
    </ion-item>
    <ion-item class="item item-image" style="background-color: #8410a9; border:none">
      <img src="img/headset.png">
    </ion-item>
    <ion-item class = "item-text-wrap text-center" style="background-color: #8410a9; border:none">
      <h2 style="color: #fff">Please put on your headphones and press the button to enjoy the audio guidance along with your visit.</h2>
    </ion-item>
    <ion-item class = "item-text-wrap text-center" style="background-color: #8410a9; border:none">
      <a class="button button-positive button-block" href = "#/tab/tour/main">Start the Tour!</a>
    </ion-item>
  </ion-content>
</ion-view>
